/*
 * Mobile Layout for A1 Redmine Theme
 * by Pascal Hertleif <a1@pascalhertleif.de>
 */

@media (max-width: 767px) {
  body {
    min-width: 0;
    -webkit-text-size-adjust:100%;
  }

  body, #wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }

  #wrapper #header > h1 {
    background: none;
    padding: 5px 10px;
  }

  #main {
    margin: 0 !important;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
  }

  #wrapper div#sidebar, html > body #wrapper div#content {
    float: none;
    width: 100% !important;
    margin: 10px 0;
    padding: 0 5px;
    box-sizing: border-box;
    min-height: 0;
    word-wrap: break-word;
  }

  div#content > h2, div#content h2.contacts_header, div#content > div.filters h2, div#content > #add-news > h2, div#content > #add-message > h2, div#content > #add-document > h2 {
    margin: 0 -5px 10px !important;
  }

  #top-menu {
    box-sizing: border-box;
    overflow: hidden;
    -webkit-transition: max-height .5s linear;
    font-size: 1em;
    line-height: 2em;
    padding: 0 10px !important;
    height: auto;
  }
    .js #top-menu {
      max-height: 0;
    }
    #top-menu.open {
      max-height: 900px;
    }
    #top-menu #account {
      float: none;
      margin-top: 20px;
    }
    #top-menu li, #top-menu #loggedas {
      float: none;
      border-bottom: 1px solid #333;
      padding: 3px 0;
    }
    #top-menu #loggedas {
      color: #999;
    }

  #quick-search {
    float: none;
    margin-bottom: 12px;
  }
    #quick-search label {
      display: none;
    }

  #header .toggle-button {
    position: absolute;
    right: 10px;
    top: 10px;
    text-indent: -889px;
    width: 24px;
    height: 24px;
    *background: url(../images/toggle_topmenu.png) no-repeat;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAwCAYAAAAGlsrkAAAAeElEQVR42u3NwQbAMBBF0fndUEII+ftWabzlVMdMN/dxd49j508DBgYGBgYGBgYGBgYGBgaOwe2uDhZqT60KPjYawS2MqiMJFvoej8PdRVUPwB4axy0BFf4RHgHUxS0NVcOBM1DhHjx1zsWtBFVTcBkqfMOrDFXrAoFYiMMO7xlhAAAAAElFTkSuQmCC) no-repeat;
    background-size: 15px 24px; /* for retina displays */
  }
    #header .toggle-button:hover {
      cursor: pointer;
    }

  #main-menu {
    overflow-x: scroll;
    overflow-y: hidden;
  }
    #main-menu ul {
      width: 900px;
    }

  div#activity dl, #search-results {
    margin-left: 0;
  }
    div#activity dl .author {
      display: none;
    }

  #roadmap {
    overflow: hidden;
  }
    #roadmap .progress {
      -webkit-transform: scaleX(0.5);
      -webkit-transform-origin: top left;
    }

  div.issue {
    margin: -12px -10px 15px -10px;
  }
    .contextual {
      white-space: initial;
    }
    .issue .gravatar {
      display: none;
    }
    div#issue-changesets {
      float: none;
      width: 100%;
      margin-left: 0;
      padding-left: 0;
    }
}
