/*
 * Mobile Layout for A1 Redmine Theme
 * by Pascal Hertleif <a1@pascalhertleif.de>
 */

@media (max-width: 767px) {
  body {
    min-width: 0;
    -webkit-text-size-adjust:100%;
  }

  body:after {
    /* for js */
    content: 'mobile';
    display: none;
  }

  body, #wrapper {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }

  #wrapper #header {
    padding: 10px 0 0 !important;
    background-position-y: 0;
  }
    #wrapper #header > h1 {
      background: none;
      padding: 5px 10px 15px;
    }

  #main {
    margin: 0 !important;
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
  }

  #wrapper div#sidebar, html > body #wrapper div#content {
    float: none;
    width: 100% !important;
    margin: 10px 0;
    padding: 0 5px;
    box-sizing: border-box;
    min-height: 0;
    word-wrap: break-word;
  }

  div#content > h2, div#content h2.contacts_header, div#content > div.filters h2, div#content > #add-news > h2, div#content > #add-message > h2, div#content > #add-document > h2 {
    margin: 0 -5px 10px !important;
  }

  body #top-menu {
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1em;
    line-height: 2em;
    padding: 0 10px !important;
    height: auto;
    max-height: 0;
    -webkit-transition: max-height .5s linear;
  }
    #top-menu.open {
      max-height: 900px;
    }
    #top-menu #account {
      float: none;
      margin-top: 20px;
    }
    #top-menu li, #top-menu #loggedas {
      float: none;
      border-bottom: 1px solid #333;
      padding: 3px 0;
    }
    #top-menu #loggedas {
      color: #999;
    }

  #quick-search {
    float: none;
    margin-bottom: 12px;
  }
    #header #quick-search, #quick-search label {
      display: none;
    }

  #header .toggle-button {
    position: absolute;
    right: 10px;
    top: 10px;
    text-indent: 66em;
    overflow: hidden;
  }
    #header .toggle-button:hover {
      cursor: pointer;
    }
    #header .toggle-button.for-topmenu {
      width: 24px;
      height: 24px;
      top: 0;
      *background: url(../images/toggle_topmenu.png) no-repeat;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAwCAYAAAAGlsrkAAAAeElEQVR42u3NwQbAMBBF0fndUEII+ftWabzlVMdMN/dxd49j508DBgYGBgYGBgYGBgYGBgaOwe2uDhZqT60KPjYawS2MqiMJFvoej8PdRVUPwB4axy0BFf4RHgHUxS0NVcOBM1DhHjx1zsWtBFVTcBkqfMOrDFXrAoFYiMMO7xlhAAAAAElFTkSuQmCC) no-repeat;
      background-size: 15px 24px; /* for retina displays */
    }
    #header .toggle-button.for-main-menu {
      width: 24px;
      height: 16px;
      *background: url(../images/toggle_mainmenu.png) no-repeat;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABJJREFUCFtjYICD/0BADEFXHQDkU1+hZsZIXQAAAABJRU5ErkJggg==) no-repeat;
      background-size: 16px 16px; /* for retina displays */
    }

  #wrapper  #main-menu {
    /*overflow-x: scroll;
    overflow-y: hidden;*/
    height: auto !important;
    min-height: 40px;
    margin: 0;
    position: relative;
    left: 0;
    right: 0;
    border-bottom: 1px solid #7e7e7e;
    *background: url(../images/bg2.png) repeat-x #a9a8a8;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAnCAIAAAC9l54/AAAA9UlEQVQoFQXBwRECQBAEIca6/JP0ZxDbwr7fLwAAeL/fj42WNrH4VHROVCR6TA1qU8DjDo1GYsu7TBJp0PHUMUEC6lUIAMBTwYgR8K4MCQHjVWIEQLwKAgDmVQQGQL2KGClbTK9OS1vhbMq7a4pM7LqZp25mCq4k7woqIwCvkiAAeHe3YcQI7NFlabglpncXKCQ2l1eZIkDBq0QMBOZV1TbHxFK9ukK1UVrL62rc6LSmjnel5ZgKS15FmIKEvQoIYqBXxxATYrxCMYIQrwIizSCvAoAEvEKAWTL65FQqrpJTT6oYp6nT9uk6nOvUBe5eEizNKmN/ugc8AeHrAfAAAAAASUVORK5CYII=) repeat-x #a9a8a8;
  }
    #wrapper  #main-menu ul {
      /*width: 900px;*/
      margin: 0;
      padding: 7px 15px;
      overflow: auto;
    }
    #wrapper #main-menu li a {
      display: none;
    }
    #wrapper #main-menu li a.selected {
      display: block;
    }

    #wrapper  #main-menu.open {
      max-height: 999em;
    }
    #main-menu.open ul {
      -webkit-columns: 2;
    }
    #wrapper #main-menu.open li {
      float: none;
      display: block;
      overflow: auto;
    }
    #wrapper #main-menu.open li a {
      display: block;
    }

  div#activity dl, #search-results {
    margin-left: 0;
  }
    div#activity dl .author {
      display: none;
    }

  /*
   * overview
   */

  .splitcontentleft, .splitcontentright {
    float: none;
    width: 100%;
  }

  #wrapper #content .flash {
    margin: 0 -5px;
  }

  #wrapper #content .flash + .contextual + h2, #wrapper #content .flash + h2 {
    border-radius: 0;
  }

  /*
   * roadmap
   */

  #roadmap {
    overflow: hidden;
  }
    #roadmap .progress {
      -webkit-transform: scaleX(0.5);
      -webkit-transform-origin: top left;
    }

  /*
   * Issues
   */
  div.issue {
    margin: -12px -10px 15px -10px;
  }
    .contextual {
      white-space: initial;
    }
    .issue .gravatar {
      display: none;
    }
    div#issue-changesets {
      float: none;
      width: 100%;
      margin-left: 0;
      padding-left: 0;
    }

  #update {
    margin-top: 20px;
  }
    #update .box {
      border: 0;
      padding: 0;
    }

  /*
   * Create Issue Form
   */

  .tabular p {
    padding-left: 0;
  }

  .tabular label {
    margin-left: 0;
    width: auto;
    display: inline-block;
    margin-right: 12px;
  }

  #content form .attributes select {
    width: auto;
  }

  form fieldset {
    width: 100%;
    box-sizing: border-box;
  }

  form textarea, form input[type=text] {
    box-sizing: border-box;
    max-width: 100%;
  }

  form .jstElements {
    clear: both;
    line-height: 32px;
  }
    form .jstElements .help a {
      display: inline-block;
      overflow: hidden;
      width: 16px;
      height: 16px;
      padding: 0;
      text-indent: 66em;
    }

  form label.floating {
    width: auto;
  }

  label.inline {
    display: block;
    text-align: left;
  }
    label.inline input {
      display: block;
    }

  /*
   * Wiki
   */

  .controller-wiki .contextual {
    margin-bottom: 12px;
  }

  div.wiki ul.toc.right {
    float: none;
    padding: 5px 10px;
  }

  /*
   * Repo
   */

  .controller-repositories .contextual {
    float: left;
    margin-bottom: 12px;
  }
    .controller-repositories .contextual a.icon-stats {
      display: block;
    }

  /*
   * Login Page
   */

  body.action-login #login-form table {
    width: 100%;
    box-sizing: border-box;
    padding: 10px !important;
    margin-top: 2em;
  }
  #login-form table td {
    display: block;
    text-align: left;
  }
  #content #login-form table input[type=text], #content #login-form table input[type=password], #content #login-form table input[type=submit] {
    width: 100%;
    box-sizing: border-box;
  }
  #login-form table input[type=submit] {
    background: url(../images/bg-header.png) repeat-x 0px 0px;
    border: none;
    padding: 10px;
    -webkit-appearance: none;
    display: block;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
  }
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2){
  body, #wrapper {
    background-size: 50px 50px;
  }
}